<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busyprojects.roomies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".roomyActivities.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".roomyActivities.AddRoomyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".roomyActivities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".roomyActivities.RegisterLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".roomyActivities.PayNowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".roomyActivities.HistoryDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".roomyActivities.HistoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".roomyActivities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".roomyActivities.AllRoomyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".roomyActivities.EditRoomyActivity" />

        <receiver android:name=".helper.CheckInternetReceiver">
            <intent-filter>

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />


            </intent-filter>
        </receiver>
    </application>

</manifest>